<nav class="navigation" role="navigation">

  <div><span><%= current_user.email %></span></div>
  <div><%= link_to 'Se déconnecter', sign_out_path, method: :delete %></div>

  <br>

  <%= link_to(
      "Mes livres",
      admin_livres_path,
      class: "navigation__link navigation__link--active")
  %>
  <%= link_to(
      "Retour à l'accueil",
      root_path,
      class: "navigation__link navigation__link--inactive")
  %>
  <% if current_user.role === "superadmin" %>
    <%= link_to(
        "Utilisateurs",
        admin_users_path,
        class: "navigation__link navigation__link--inactive")
    %>    
  <% end %>

</nav>
