<% content_for :javascript do %>
<%= javascript_pack_tag 'welcome', 'data-turbolinks-track': 'reload' %>
<% end %>

<%- livres = local_assigns[:livres] %>
<% if current_user %>
  Bienvenue, <%= current_user.email %>
  <span style="display: flex;">
    <%= button_to "Se déconnecter", sign_out_path, method: :delete %>
    <%= link_to "Ajouter mes livres", admin_root_path, class: "add-your-books" %>
  </span>
<% else %>
  <span style="display: flex;">
    <%= link_to "Se connecter", admin_root_path, class: "add-your-books" %>
  </span>
<% end %>
<span style="display: flex;">
  <%= link_to "Conditions générales d'utilisation", conditions_path %>
</span>
<br>
<div>&nbsp;</div>
<h1>Bibliothèque de la transition</h1>
<% if current_user %>
<p>Pour louer un livre, <strong>contactez directement le propriétaire via son email</strong></p>
<% else %>
<p>Pour les habitants de La-Chapelle-sur-Erdre et ses environs : prêt de livres entre particulier sur le sujet de la transition. Pas besoin de Facebook ni Google, une adresse e-mail suffit. Contactez David ou Gaëlle pour utiliser le service.</p>
<% end %>

<table id="main_table" class="books">
  <caption></caption>
  <thead>
    <tr>
      <th align="left">Titre ↓</th>
      <th align="left">Auteur ↓</th>
      <th align="left">Genre ↓</th>
      <% if livres.try('first').try(:[], :proprietaire) %>
      <th align="left">Propriétaire ↓</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="list">
    <% livres.each do |livre| %>
    <tr>
      <td align="left" class="titre"><%= livre[:titre] %></td>
      <td align="left" class="auteur"><%= livre[:auteur] %></td>
      <td align="left" class="genre"><%= livre[:genre] %></td>
      <% if livre.try(:[], :proprietaire) %>
      <td align="left" class="proprietaire"><%= livre[:proprietaire] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<style type="text/css">
  #main_table_info {
    display: none;
  }
  #main_table th {
    cursor: pointer;
  }
  .add-your-books {
    background-color: #1976d2;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    line-height: 2.3;
    padding: 0em .75em;
    text-decoration: none;
    transition: background-color 250ms ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    height: 37px;
  }
</style>
