<!DOCTYPE html>
<html>
  <head>
    <title>Listelivre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
  </head>

  <body id="livresel_body">
    <% flash.each do |type, msg| %>
    <div>
      <mark>
        <%= msg %>
      </mark>      
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
